trunk/Parser/Schemas/citations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Citations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Citation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Paragraph" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Year" type="xs:unsignedShort" />
              <xs:element name="Offset" type="xs:unsignedLong" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>