Parser/Schemas/reference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="References">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Reference">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Offset" type="xs:unsignedLong" />
              <xs:element name="Authors" type="xs:string" />
              <xs:element name="Year" type="xs:unsignedShort" />
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Publication" type="xs:string" />
              <xs:element name="PageNumbers" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>